<div class="container"style="width: 45%; margin: auto;">
    <form action="/aboutUsEdit" method="post" enctype="multipart/form-data">
            <div class="form-group" >
                <label for="video" >video</label>
                <input type="file" accept="video/mp4" class="form-control"  id="video" name="video" value="<%= aboutus.video %>">
            </div>
            <div class="form-group">
                <label for="img" >Img</label>
                <input type="file" accept="image/png, image/gif, image/jpeg"  class="form-control"  id="img" name="img" value="<%= aboutus.img %>" >
            </div>
            <div class="form-group"  >
                <label for="comment">one message</label>
                <input type="text" class="form-control"  id="onecomment" name="onecomment" value="<%= aboutus.onecomment %>">
                         
        </div>
        <div class="form-group">
            <label for="comment">1-qisqa sharx</label>
            <input type="text" class="form-control"  id="li1" name="li1" value="<%= aboutus.li1 %>">
        </div>
        <div class="form-group">
            <label for="comment">2-qisqa sharx</label>
            <input type="text" class="form-control"  id="li2" name="li2" value="<%= aboutus.li2 %>">
        </div>
        <div class="form-group">
            <label for="comment">3-qisqa sharx</label>
            <input type="text" class="form-control"  id="li3" name="li3" value="<%= aboutus.li3 %>">
        </div>
        <div class="form-group">
            <label for="comment">4-qisqa sharx</label>
            <input type="text" class="form-control"  id="li4" name="li4" value="<%= aboutus.li4 %>">
        </div>
        <div class="form-group">
            <label for="comment">5-qisqa sharx</label>
            <input type="text" class="form-control"  id="li5" name="li5" value="<%= aboutus.li5 %>">
        </div>
        <div class="form-group">
                <label for="comment">two message</label>
                <input type="text" class="form-control"  id="twocomment" name="twocomment" value="<%= aboutus.twocomment %>">                
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  